*.code-workspace
.vscode/
TRACE
TTY*
*.o
crash*
yalnix
DISK
core
.nfs*
tests/init
tests/cp3_tests
tests/cp4_tests
tests/cp5_tests
tests/exec_test
tests/grow_ustack_toomuch
tests/memory_trap_handler_tests
